
../Android/
jdk-21.0.3+9/
apache-maven-3.9.6/
JavaServer/target/

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.exe
*.dll
!OpenHardwareMonitorLib.dll
*.so
*.dylib


*.log
*.log.*
logs/


*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


venv/
.venv/
env/
.env/


.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/


Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store


build/
dist/
*.spec
